* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 40px;
    padding: 20px;
}

.caja-1 {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 50%;
}

.caja2 {
width: 50%;
}